*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
}
body{
    min-height:100vh;
    background-color: #CBFFEE;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: aqua;
    padding: 40px 60px;
    border-radius: 20px;
}
h2{
    font-size: 3.3em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.reset{
    color: white;
    padding: 15px;
    border:none;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 1.5em;
    background-color: #FFCBDD;
    cursor: pointer;
}
.reset:hover{
    background-color: black;
    color: white;
}
.game{
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}
.item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 60px;
    transform: rotateY(180deg);
    /* 얘도 같이 돌아야 도는 느낌이 살아남 */
    background-color: white;
    transition: 0.25s;
    border-radius: 12px;
}
.item.boxOpen{
    transform: rotateY(0deg);
}
.item::after{
    content: "";
    position: absolute;
    inset: 0;
    transition: 0.25s;
    transform: rotateY(0deg);
    background-color:#00E598;
    backface-visibility: hidden;
    /* 뒷면을 안보이게 해야 돌고나서 이 가상요소가 안보임 */
    border-radius: 12px;
}
.boxOpen:after{
    transform: rotateY(180deg);
}
.boxMatch:after{
    transform: rotateY(180deg);
}