*{
    margin:0;
    padding:0;
    font-family:fantasy;
}
body{
  height:100vh;
}
.main{
  width: 100vw;
  height: 82vh;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}
.main > .game{
  width: 42vw;
  height: 35vh;
  justify-content: space-between;
  background-color:#f7f2e9;
  border: 2px hidden;
  border-radius: 8px;
  display: flex;
}
header {
  position: sticky;
  top: 0;
  background: #de8da9;
  z-index: 999;
  height: 18vh;
}
header nav{
    height: 18vh;
}
header nav ul {
  height: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
}
header nav ul li {
  margin: 0 30px;
  list-style: none;
  font-size: 20px;
}
header nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 26px;
    letter-spacing: 2.5px;
}
.MathgamePic,
.TypinggamePic,
.MemorygamePic,
.WordlegamePic
{
  width: 50%;
  height: 100%;
}
img{
 width: 100%;
 height: 100%;
 object-fit: fill;
 border-radius: 8px;
}
.Mathgamedes,
.Typinggamedes,
.Memorygamedes,
.Wordlegamedes{
 width: 47%;
 height: 100%;
 text-align: left;
 color: #141f33;
 font-size: 18px;
 letter-spacing: 0.5px;
 font-weight: bold;
 overflow:auto;
 line-height: 1.5lh;
 padding-top: 11px;
}
.Mathgamedes::-webkit-scrollbar,
.Typinggamedes::-webkit-scrollbar,
.Memorygamedes::-webkit-scrollbar,
.Wordlegamedes::-webkit-scrollbar{
  width: 15px;
  
}
.Mathgamedes::-webkit-scrollbar-thumb,
.Typinggamedes::-webkit-scrollbar-thumb,
.Memorygamedes::-webkit-scrollbar-thumb,
.Wordlegamedes::-webkit-scrollbar-thumb{
 background-color: #141f33;
 border-radius: 8px;
}