*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

header{
    width: 100%;
    background-color:brown;
    text-align: center;
    color:cornsilk;
    padding: 1rem;
}
/* 굳이 높이를 주지말고 패딩을 전 영역에 줘서 정렬하는 것도 방법 */
.wordDisplay{ 
    background-color: blanchedalmond;
    margin-top: 3rem;
    width: 450px;
    text-align: center;
    font-weight: 900;
    font-size: 80px;
    color:sienna;
    padding: 40px;
    border-radius: 8px;
}
.wordTypingBox{
    margin-top: 2rem;
}
.wordInput{
    width: 356px;
    padding: 0.5rem;
    font-size: 15px;
    text-align: center;
    border: 2px solid brown;
    border-radius: 8px;
}

.gameInfo{
    margin-top: 1.5rem;
    display: flex;
    width: 280px;
    justify-content: space-between;
    font-size: 18px;
}
.timeLimit, .score{
    font-size: 35px;
}
.buttonContainer{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    column-gap: 10px;
}
.button{
    margin-top: 2.5rem;
    color:sienna;
    background-color:blanchedalmond;
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
}
.resetButton{
    margin-top: 2.5rem;    
    background-color: blanchedalmond;
    color:sienna;
    border: none;
    border-radius: 8px;
    width: 40px;
    height:1.5rem;
    cursor: pointer;
}
.Loading{
    background-color:#ccc;
    cursor: not-allowed;
}
